/* Sovrascritture dei controlli di input */
input,
textarea,
select {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-color: var(--cc-border) !important;
  color: var(--cc-text) !important;
}

input::placeholder,
textarea::placeholder {
  color: rgba(245, 245, 255, 0.6);
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--cc-accent) !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 240, 255, 0.2) !important;
}
